@import '../../../../theme.scss';

.view-files {
  list-style: none;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  li {
    border-radius: 8px;
    padding: 16px;
    padding-left: 38px;
    display: flex;
    align-items: center;
    font-weight: 500;
    span:first-of-type {
      width: 250px;
      margin: 0;
    }
  }
  > li.file {
    padding-left: 8px;
    font-weight: 100;
    cursor: pointer;
    .mat-icon {
      margin-right: 8px;
    }
    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: $theme-primary-background-darker;
    }
  }
}
