<div>
  <ngx-dropzone
    class="custom-dropzone"
    (change)="onSelect($event)"
    [multiple]="false"
    accept="image/png, image/jpeg, .pdf"
    >
    <ngx-dropzone-label>Voeg hier een bestand toe</ngx-dropzone-label>
    <ngx-dropzone-preview *ngIf='file' [removable]="true" (removed)="clearInput()">
      <ngx-dropzone-label>{{ file?.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>

<button
  mat-flat-button
  color="primary"
  (click)='submit()'
  [disabled]='btnDisabled'
>Opslaan</button>


<app-loader *ngIf="loading"></app-loader>
