@import '../../../../theme.scss';

:host {
  position: relative;
}

div {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  margin: 8px 0 0 0;
}

.custom-dropzone {
  border-color: $theme-primary-color;
  height: 260px;
  width: 260px;
}
